# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Build
build/
dist/
*.spec

# System
.DS_Store
Thumbs.db

# Project Data & Cache
data/temp/*
!data/temp/.gitkeep
data/generated/*
!data/generated/.gitkeep
data/pdf_cache/*
!data/pdf_cache/.gitkeep
data/embeddings_cache/*
!data/embeddings_cache/.gitkeep
data/vector_db/*
!data/vector_db/.gitkeep

# IDEs
.vscode/
.idea/
