# Python
venv/
__pycache__/
*.py[cod]
*.class
.env

# Project specific
data/generated/*
!data/generated/.gitkeep
data/temp/*
!data/temp/.gitkeep
data/pdf_cache/*
data/embeddings_cache/*
data/vector_db/*
build/
dist/
*.spec

# System
.DS_Store
Thumbs.db
